#america {
	background-image: url('../flags/america.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#arabia {
	background-image: url('../flags/arabia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#assyria {
	background-image: url('../flags/assyria.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#austria {
	background-image: url('../flags/austria.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#aztec {
	background-image: url('../flags/aztec.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#babylon {
	background-image: url('../flags/babylon.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#brazil {
	background-image: url('../flags/brazil.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#byzantine {
	background-image: url('../flags/byzantine.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#carthage {
	background-image: url('../flags/carthage.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#celts {
	background-image: url('../flags/celts.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#china {
	background-image: url('../flags/china.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#danish {
	background-image: url('../flags/danish.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}


#dutch {
	background-image: url('../flags/dutch.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}


#egypt {
	background-image: url('../flags/egypt.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}


#england {
	background-image: url('../flags/england.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#ethiopia {
	background-image: url('../flags/ethiopia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#french {
	background-image: url('../flags/france.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#germany {
	background-image: url('../flags/germany.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#greece {
	background-image: url('../flags/greece.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#hun {
	background-image: url('../flags/hunnic.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#inca {
	background-image: url('../flags/inca.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#india {
	background-image: url('../flags/india.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#indonesia {
	background-image: url('../flags/indonesia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#iroquois {
	background-image: url('../flags/iroquois.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#japan {
	background-image: url('../flags/japan.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#korea {
	background-image: url('../flags/korea.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#maya {
	background-image: url('../flags/maya.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#mongolia {
	background-image: url('../flags/mongolia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#morocco {
	background-image: url('../flags/morocco.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#ottoman {
	background-image: url('../flags/ottoman.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#persia {
	background-image: url('../flags/persia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#poland {
	background-image: url('../flags/poland.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#polynesia {
	background-image: url('../flags/polynesia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#portugal {
	background-image: url('../flags/portugal.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#rome {
	background-image: url('../flags/rome.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#russia {
	background-image: url('../flags/russia.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#shoshone {
	background-image: url('../flags/shoshone.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#siamese {
	background-image: url('../flags/siamese.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#songhai {
	background-image: url('../flags/songhai.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#spain {
	background-image: url('../flags/spain.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#sweden {
	background-image: url('../flags/sweden.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#venice {
	background-image: url('../flags/venice.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}

#zulu {
	background-image: url('../flags/zulu.jpg');
	background-repeat: no-repeat;
	background-size: 60px;
}









